#header {
    background-color: #e8ffd4;
    height: 100px;
    display:flex;
    /* justify-content:space-between; */
    padding: 5px;
}

#logoImgDiv {
    height: 100px;
    width: 100px;
}

#logoImgDiv > img {
    margin: 5px;
    height: 90px;
    width: 90px;
}

#headerBody {
    /* background-color: aquamarine; */
    padding: 10px 20px;
    justify-content: center;
}

#login {
    position: absolute;
    right: 10px;
    width: 350px;
    height: 100px;
    /* background-color: #F0C0C0; */
}

input {
    width: 200px;
}

#signButton {
    width: 100px;
    margin: 5px;
    text-align: center;
    background-color: #FFC0C0;
    border: 1px red;
    border-radius: 10%;
}

#signButton a {
    text-decoration: none;
    color: black;
}