/* CSS 스타일 테스트하는 곳 */

p {
    text-align: center;
    background-color: #1fffff;
    color: #005eff;
    display: inline;
    box-shadow: #B0B0B0;
    align-content: center;
    background: linear-gradient( to right, rgba(FF,FF,FF,1), rgba(184,254,250,1))
}